* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: mistyrose;
  }
  .story-title {
    text-align: center;
    margin: 20px 0;
    padding-bottom: 10px;
    border-bottom: 2px solid darkblue;
  }
  #story-section {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 1.5rem;
    text-align: center;
    width: 80vw;
    margin: 20px auto;
  }
  .story {
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    padding: 1rem;
    text-align: left;
    border-radius: 50px 0;
  }
  .story .story-img {
    width: 100%;
    border-radius: 50px 0 0 0;
  }
  .story .storyHead {
    color: darkblue;
    margin-bottom: 0.3rem;
  }
  
  .story .author {
    font-style: italic;
    font-size: 0.8rem;
    margin-bottom: 1rem;
  }
  
  
  /* Media Queries: */
  /* Mobile Devices; */
  @media only screen and (max-width: 676px) {
    #story-section {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  
  @media only screen and (max-width: 575px) {
    #story-section {
      grid-template-columns: 1fr;
    }
  }